<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>TODO list</title>
</head>
<body>
<a class="nav-item nav-link" th:if="${user.email == 'Гость'}" th:href="@{/loginPage}">
    <span th:text="${user.email}"></span>
    <span> | Войти</span>
</a>
<a class="nav-item nav-link" th:if="${user.email != 'Гость'}" th:href="@{/logout}">
    <span th:text="${user.email}"></span>
    <span> | Выйти</span>
</a>
<nav><a th:href="@{/index}">    Все задания</a> |
    <a th:href="@{/done}">Выполненные задания</a> |
    <a th:href="@{/new}">Новые задания</a></nav>
    <hr>
    <a class="nav-item nav-link" th:href="@{/newtask}">Добавить задание</a>

<div class="container mt-3">
    <div class="row">
        <h4>TODO list</h4>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Задание</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Состояние</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td>
                    <!--<a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.id + '. ' + post.name}">Post name</a>-->
                    <a th:href="@{|/description/${task.id}|}" th:text="${task.name}">Task name</a>
                </td>
                <td>
                    <a th:text="${task.user.name}">User depends on task</a>
                </td>
                <td th:text="${task.created}"></td>
                <td>
                    <span th:if="${task.done}">Выполнено</span>
                    <span th:if="${!task.done}">Не выполнено</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>